@CHARSET "UTF-8";
table{
	width: 70%;
	margin: 0;
	background: #FFFFFF;
	border: 1px solid #333333;
	border-collapse: collapse;
}

td, th{
	border-bottom: 1px solid #333333;
	padding: 6px 16px;
	text-align: left;
}

th{
	background: #EEEEEE;
	text-align: center;
}

caption{
	background: #E0E0E0;
	margin: 0;
	border: 1px solid #333333;
	border-bottom: none;
	padding: 6px 16px;
	font-weight: bold;
}